<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellit: Activate Account</title>
</head>
<body>
    <h2>Sellit</h2>
    This is the code to activate your Account
    <div><%= otp %></div>
    <small>expires in 10mins</small>
</body>
</html>