<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellit: Reset Password</title>
        <style>
        * {
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            font-family: 'Courier New', Courier, monospace;
        }
        section, form {
            width: 50%;
            margin: 25px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            border: 4px solid #ccc ;
        }
        h2 {
            padding: 10px;
        }
        b {
            padding: 8px;
            background-color: rgb(169, 169, 169);
            margin: 4px;
        }
                button, input {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h2>Sellit</h2>
        <form action="http://localhost:3000/users/reset-password" method="post">
            <label for="password">Password: 
                <input type="password" name="password" id="password">
            </label>
            <label for="password">Confirm Password: 
                <input type="password" name="rPassword" id="password">
            </label>
                <input type="hidden" name="passwordResetToken" id="password" value="<%= token %>">
            <button type="submit">Reset Password</button>
        </form>
</body>
</html>