<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellit: Password Reset Successful</title>
        <style>
        * {
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            font-family: 'Courier New', Courier, monospace;
        }
        section {
            width: 50%;
            margin: 25px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            border: 4px solid #ccc ;
        }
        h2 {
            padding: 10px;
        }
        b {
            padding: 8px;
            background-color: rgb(169, 169, 169);
            margin: 4px;
        }
    </style>
</head>
<body>
    <h2>Sellit</h2>
    <section>
        <h3>Password Reset Successful</h3>
        <p>An attempt to reset your password was successful.
        </p>
    </section>
</body>
</html>