<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellit: Reset Password</title>
    <style>
        
    </style>
</head>
<body>
    <div>
        <h2>Password Reset</h2>
        <h3>Dear <%= user.firstName %>,</h3>
        <p>You're getting this mail because someone made an attempt to reset your password.</p>
        Click on the button below to get password reset page or manually copy this link to your browser <a href="<http://102.88.109.26:3000/users/password_reset/<%=user.token %>" target="_blank">http://102.88.109.26:3000/users/password_reset/<%=user.token %></a>
        <a href="http://102.88.109.26:3000/users/password_reset/<%=user.token %>" target="_blank"><button type="submit">Reset Password</button></a>
    </div>
</body>
</html>