<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellit: Reset Password</title>
</head>
<body>
    <div>
        <form action="http://localhost:3000/users/reset-password" method="post">
            <label for="password">Password: 
                <input type="password" name="password" id="password">
            </label>
            <label for="password">Confirm Password: 
                <input type="password" name="rPassword" id="password">
            </label>
                <input type="hidden" name="passwordResetToken" id="password" value="<%= token %>">
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>