<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellit: Password Reset Successful</title>
</head>
<body>
    <div>
        <h3>Password Reset Successful</h3>
        <p>An attempt to reset your password was successful.
        </p>
    </div>
</body>
</html>